{% extends "base_page.html"%}

{% block "content"%}
    <h1>О сайте geotsint.ru</h1>
    
    <h2>ГЕОЦИНТ</h2>
    <p>
Система для покупки и продажи вещей, товаров, продуктов.<p> Основана на кибер-сетевой структуре.
<h3>Принцип</h3>
<p>Вы создаете фьючерс (товар с обязательством его продажи/покупки), потом выбираете ему соответствующий фьючерс с обратным направлением продажи/покупки. Этим вы создаете сделку между двумя пользователями и получаете доступ к контактной информации партнера. Далее Вы либо подтверждаете факт выполнения сделки, либо отрицаете данный факт. Если хотя бы одна сторона орицает, то сделка считается несостоявшейся, что негативно отразится на рейтингах обеих сторон.
<hr/>
<p>Выбрать антифьючерс пользователь может только меньшего рейтинга, чем он сам.
<ul>Рейтинги фьючерса определяются динамически по принципам:</ul>
<li>Другие сделки пользователя</li>
<li>Регион (город)</li>
<li>Законченный фьючерс может быть только 2 видов: "done" и "canc". Соответственно "1" и "0". Поэтому рейтинги незаконченных фьючерсов располагаются в диапозоне 0-1 и являются вещественным числом. Рейтинг фьючерса должен исходить из того принципа, чтобы статистически постараться предсказать исход сделки и обозначить погрешность, которая может вытекать из малого количества сделок у субъекта.</li>
<li>Рейтинги бывших партнеров, а также собственная и их диверсифицированность.</li>
</ul>
<h3>Типичные персонажи</h3>
<p><strong>Бабушка в поселке</strong>. Бабушка живет на окраине небольшого поселка, держит козу. Ей самой молока много,
она ходит каждое утро с парным молоком на минирынок, стоит там весь день, продает. Зачем? Она может создать фьючерсы на
месяц (каждый день, "молоко парное", с 9 до 10-ти часов, адрес такой-то) и тогда у нее купят это молоко все желающие и
ходить никуда ей не придется.
<p><strong>Таджик</strong>. Таджик прилетел работать, взял с собой пару кг. спелых персиков (гораздо вкуснее, чем в
магазине!). Он создал фьючерс перед вылетом (один раз, "персики спелые", с 12 до 13 часов такого-то числа, адрес -
аэропорт такой-то). Мелоч, но ему небольшие деньги и человеку, который купит хорошо. Главное смотреть на рейтинг человека,
чтобы не было обмана.
<p><strong>Человек</strong>. Любит домашнее и натуральное, поэтому создает фьючерсы (завтра, в любое время, в моем городе, куплю,
"парное молоко", "спелые персики").
<p><strong>:)</strong>
{% endblock %}