<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Геоцинт. Покупай и продавай фьючерсы!</title>
        
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script>
            /* Russian (UTF-8) initialisation for the jQuery UI date picker plugin. */
            /* Written by Andrew Stromnov (stromnov@gmail.com). */
            ( function( factory ) {
                if ( typeof define === "function" && define.amd ) {

                    // AMD. Register as an anonymous module.
                    define( [ "../widgets/datepicker" ], factory );
                } else {

                    // Browser globals
                    factory( jQuery.datepicker );
                }
            }( function( datepicker ) {

            datepicker.regional.ru = {
                closeText: "Закрыть",
                prevText: "&#x3C;Пред",
                nextText: "След&#x3E;",
                currentText: "Сегодня",
                monthNames: [ "Январь","Февраль","Март","Апрель","Май","Июнь",
                "Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь" ],
                monthNamesShort: [ "Янв","Фев","Мар","Апр","Май","Июн",
                "Июл","Авг","Сен","Окт","Ноя","Дек" ],
                dayNames: [ "воскресенье","понедельник","вторник","среда","четверг","пятница","суббота" ],
                dayNamesShort: [ "вск","пнд","втр","срд","чтв","птн","сбт" ],
                dayNamesMin: [ "Вс","Пн","Вт","Ср","Чт","Пт","Сб" ],
                weekHeader: "Нед",
                dateFormat: "dd.mm.yy",
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: "" };
            datepicker.setDefaults( datepicker.regional.ru );

            return datepicker.regional.ru;

            } ) );
        </script>
        
        <link href="/static/js/kladrapi-jsclient/jquery.kladr.min.css" rel="stylesheet">
        <link href="/static/js/jquery-timepicker/jquery.timepicker.css" rel="stylesheet">
        <link href="/static/js/kladrapi-jsclient/examples/css/all.css" rel="stylesheet">

        <script src="/static/js/kladrapi-jsclient/jquery.kladr.min.js" type="text/javascript"></script>
        <script src="/static/js/jquery-timepicker/jquery.timepicker.min.js" type="text/javascript"></script>
        
        <script>
            $.datepicker.formatDate( "dd.mm.yy", new Date( 2007, 7 - 1, 14 ), {
              dayNamesShort: $.datepicker.regional[ "ru" ].dayNamesShort,
              dayNames: $.datepicker.regional[ "ru" ].dayNames,
              monthNamesShort: $.datepicker.regional[ "ru" ].monthNamesShort,
              monthNames: $.datepicker.regional[ "ru" ].monthNames
            });
        </script>
        
        <style>
        .red_class {
            //color: "red"; /* Цвет символа */
            font-size: 150%; /* Размер шрифта */
        } 
        </style>
        
        {% block "extrahead" %}
        {% endblock %}
    </head>
    
    <body>
        <div>
            {% if user.username %}
                Вы вошли как "{{ user.username }}".
            {% else %}
                Вы не аутентифицированны, <a href="/login/">аутентифицируйтесь здесь</a>.
            {% endif %}
        </div>
        
        {% block "main"%}
        {% endblock %}
        
        <footer>
            <p><em>Сайт создан by Dmitriy Shikhalev &lt;dmitriy.shikhalev@gmail.com&gt</em>
            <p><em><a href="https://dmitriy_shikhalev@bitbucket.org/dmitriy_shikhalev/geotsint.git">Исходный код</a></em>
        </footer>
    </body>
</html>