{% extends "base_page.html"%}

{% block "content"%}
    <table>
        <tr>
            <th>
                <h1>Создание продукта</h1>
            </th>
        </tr>
        
        <form url='/create_product' method='POST'>
            {% csrf_token %}
            {{ form.as_table }}
            <tr>
                <td>
                    <input type="submit" value="Создать" />
                </td>
            </tr>
        </form>
    </table>
{% endblock %}