{% extends "base_page.html"%}

{% block "extrahead" %}
    <script>
        $(function() {
            $("[name='address']").kladr({
                oneString: true
            });
        });
    </script>
    
    <script>
        $(function() {
            $("[name='date_from']").datepicker();
            $("[name='date_till']").datepicker();
            $("[name='time_from']").timepicker({ 'scrollDefault': 'now', 'step': 15, 'timeFormat': 'H:i'});
            $("[name='time_till']").timepicker({ 'scrollDefault': 'now', 'step': 15, 'timeFormat': 'H:i'});
        });
    </script>
{% endblock %}

{% block "content"%}
    <table border="1">
        <tr>
            <th colspan="2">
                <h1>Создание фьючерса на продукт "{{ product.name }}"</h1>
            </th>
        </tr>
        
        <form url='/create_futures' method='POST'> {% csrf_token %}
            {{ form.as_table }}
            <!-- <input name="address" type="text" value="" placeholder="Адрес"> -->
            
            <tr>
                <td colspan="2">
                    <input type="submit" value="Создать" />
                </td>
            </tr>
        </form>
    </table>
{% endblock %}