{% extends "base_page.html"%}

{% block "content"%}
	<h1>Список текущих продуктов, ожидающих сделки</h1>
	
	<table border="1">
		<tr>
			<th>Покупка</th>
		</tr>
		{% for product in products_buy %}
			<tr>
				<td>{{ product.name }}</td>
			</tr>
		{% empty %}
			<tr>
				<td><em>Ничего нет для покупки</em></td>
			</tr>
		{% endfor %}
		<tr>
			<th>Продажа</th>
		</tr>
		{% for product in products_sell %}
			<tr>
				<td>{{ product.name }}</td>
			</tr>
		{% empty %}
			<tr>
				<td><em>Ничего нет для продажи</em></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}