{% extends "base_page.html"%}

{% block "content"%}
    <table border="1">
        <tr>
            <th colspan="11">
                <h1>Список текущих сделок</h1>
            </th>
        </tr>
        
        <tr>
            <td colspan="11"><em>Свои контакты</em>: <strong>{{ user.user.contacts }}</strong></td>
        </tr>
        
        <tr>
            <th>Название продукта покупки</th>
            <th>Название продукта продажи</th>
            <th>Цена</th>
            <th>Дата от</th>
            <th>Дата до</th>
            <th>Время от</th>
            <th>Время до</th>
            <th>Дни недели</th>
            <th>Место</th>
            <th>Контакты партнера</th>
        </tr>
        {% for deal in deals %}
            <tr>
                <td>{{ deal.buyer_futures.goods.product.name }}</td>
                <td>{{ deal.seller_futures.goods.product.name }}</td>
                <td>{{ deal.price }}</td>
                <td>{{ deal.date_from }}</td>
                <td>{{ deal.date_till }}</td>
                <td>{{ deal.time_from }}</td>
                <td>{{ deal.time_till }}</td>
                <td>{{ deal.weekdays }}</td>
                <td>{{ deal.address }}</td>
                <td>{{ deal.partner.contacts }}</td>
                <td><a href='/ok/{{ deal.id }}/'>Подтвердить сделку</a>
                <td><a href='/cancel/{{ deal.id }}/'>Отменить сделку</a>
            </tr>
        {% empty %}
            <tr>
                <td colspan="11">Незавершенных сделок нет</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}