{% extends "base_page.html"%}

{% block "content"%}
    <table border="1">
        <tr>
            <th colspan="2">
                <h1>Изменить свои контакты</h1>
            </th>
        </tr>
        
        <form url='/edit_contacts/' method='POST'> {% csrf_token %}
            {{ form.as_table }}
            <tr>
                <td colspan="2">
                    <input type="submit" value="Изменить" />
                </td>
            </tr>
        </form>
    </table>
{% endblock %}