{% extends "base_page.html"%}

{% block "content"%}
    <table border="1">
        <tr>
            <th colspan="2">
                <h1>Фьючерс</h1>
            </th>
        </tr>
        
        <tr>
            <td><strong>Название</strong></td>
            <td>{{ object.goods.product.name }}</td>
        </tr>
        {% for property in object.goods.property_list.all %}
            <tr>
                <td><strong>{{ property.name }}</strong></td>
                <td>{{ property.value }}</td>
            </tr>
        {% endfor %}
        </tr>
        <tr>
            <td><strong>Цена</strong></td>
            <td>{{ object.price }}</td>
        </tr>
        <tr>
            <td><strong>Направление</strong></td>
            <td>{{ object.get_route }}</td>
        </tr>
        <tr>
            <td><strong>Дата от</strong></td>
            <td>{{ object.date_from }}</td>
        </tr>
        <tr>
            <td><strong>Дата до</strong></td>
            <td>{{ object.date_till }}</td>
        </tr>
        <tr>
            <td><strong>Время от</strong></td>
            <td>{{ object.time_from }}</td>
        </tr>
        <tr>
            <td><strong>Время до</strong></td>
            <td>{{ object.time_till }}</td>
        </tr>
        <tr>
            <td><strong>Дни недели</strong></td>
            <td>{{ object.weekdays }}</td>
        </tr>
        <tr>
            <td><strong>Место</strong></td>
            <td>{{ object.address }}</td>
        </tr>
        <tr>
            <td><strong>Статус</strong></td>
            <td>{{ object.status }}</td>
        </tr>
        <tr>
            <td colspan="2"><a href='/null/{{ object.id }}'>Аннулировать фьючерс</a></td>
        </tr>
    </table>
    
    <div> <!-- mirror futures -->
        <table border="1">
            <tr>
                <th colspan="10">Предлагаемые фьючерсы для данного</th>
            </tr>
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Адрес</th>
                <th>Дата от</th>
                <th>Дата до</th>
                <th>Время от</th>
                <th>Время до</th>
                <th>Дни недели</th>
                <th>Репутация</th>
            </tr>
            {% for mirror_futures in object.mirror_futures %}
                <tr>
                    <td>{{ mirror_futures.goods.product.name }}</td>
                    <td>{{ mirror_futures.price }}</td>
                    <td>{{ mirror_futures.address }}</td>
                    <td>{{ mirror_futures.calc_date_from }}</td>
                    <td>{{ mirror_futures.calc_date_till }}</td>
                    <td>{{ mirror_futures.calc_time_from }}</td>
                    <td>{{ mirror_futures.calc_time_till }}</td>
                    <td>{{ mirror_futures.weekdays }}</td>
                    <td>{{ mirror_futures.reputation }}</td>
                    <td><a href="/select_mirror/{{ object.id }}/{{ mirror_futures.id }}/">Заключить сделку</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="10">Вариантов пока нет</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}