{% extends "base_page.html"%}

{% block "content"%}
    <table border="1">
        <tr>
            <th colspan="7">
                <h1>Список фьючерсов</h1>
            </th>
        </tr>
        <tr>
            <th>Название продукта</th>
            <th>Направление</th>
            <th>Дата от</th>
            <th>Дата до</th>
            <th>Время от</th>
            <th>Время до</th>
            <th>Дни недели</th>
        </tr>
        
        {% for futures in futures_list %}
            <tr>
                <td><a href='/futures_view/{{ futures.id }}/'>{{ futures.goods.product.name }}</a></td>
                <td>{{ futures.get_route }}</td>
                <td>{{ futures.date_from }}</td>
                <td>{{ futures.date_till }}</td>
                <td>{{ futures.time_from }}</td>
                <td>{{ futures.time_till }}</td>
                <td>{{ futures.weekdays }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}