{% extends "base.html"%}

{% block "main"%}
    <table>
        <tr>
            <th>
                <h1>Аутентификация</h1>
            </th>
        </tr>
        <form url='/login' method='POST'> {% csrf_token %}
            {{ form.as_table }}
            <tr>
                <td>
                    <input type="submit" value="Аутентифицироваться" />
                </td>
            </tr>
        </form>
    </table>
    
    <div>
        <a href='/register'>Зарегистрироваться</a>
    </div>
    <div>
        <a href='/about/'>О сайте</a>
    </div>
    <div>
        <a href='/current/'>Список текущих продуктов, ожидающих сделки</a>
    </div>
{% endblock %}