{% extends "base.html"%}

{% block "main"%}
    <table border="1">
        <tr>
            <th>
                <h1>Геоцинт</h1>
            </th>
        </tr>
        <tr>
            <td>
                <a href='/select_product/'>Выбрать продукт (создать фьючерс)</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href='/futures_view/'>Список текущих фьючерсов</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href='/deal_view/'>Список текущих сделок</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href='/edit_contacts/'>Изменить свои контакты</a>
            </td>
        </tr>
        <tr>
            <td><a href='/current/'>Список ожидающих продуктов</a></td>
        </tr>
        <tr>
            <td><a href='/about/'>О сайте</a></td>
        </tr>
        
        <tr>
            <td>
                <a href='/logout/'>Выйти</a>
            </td>
        </tr>
    </table>
{% endblock %}