{% extends "base.html"%}

{% block "main"%}
    <table>
        <tr>
            <th>
                <h1>Регистрация</h1>
            </th>
        </tr>
            
        <form url='/register' method='POST'> {% csrf_token %}
            {{ form.as_table }}
            <tr>
                <td>
                    <input type="submit" value="Зарегистрироваться" />
                </td>
            </tr>
        </form>
    </table>
{% endblock %}