{% extends "base_page.html"%}

{% block "content"%}
    <table border="1">
        <tr>
            <th colspan="2">
                <h1>Выбор продукта</h1>
            </th>
        </tr>
        
        <form url='/select_product' method='GET'>
            {{ form.as_table }}
            <tr>
                <td colspan="2">
                    <input type="submit" value="Найти" />
                </td>
            </tr>
        </form>
        
        {% for product in products %}
            <tr>
                <td colspan="2">
                    <a href="/create_futures/{{ product.id }}/">{{ product.name }}</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
        </tr>
        <tr>
            <td colspan="2" class="red_class">
                <a href="/create_product/">Создать новый продукт</a>
            </td>
        </tr>
    </table>
{% endblock %}